.App {
  text-align: center;
}

.encanto-logo {
  height: 35vmin;
  pointer-events: none;
  margin-left: 39%;
  margin-right: 25%;
  margin-top: 150px;
}

.pay-here-button {
  margin-left: 30%;
  margin-right: 25%;
  margin-top:100px;
}
.navbar-container {
  height: 60px;
  background-color: black;
  width: auto;
}

.success-signal {
  margin-left: 40%;
  margin-right: 40%;
}

.disney-font {
  font-family: 'WaltographRegular';
  font-weight: normal;
  width: 300px;
  padding: 50px;
  border: 20px;
  text-align: center;
  font-size: larger;
}

.message-success {
  font-family: 'WaltographRegular';
  font-weight: bold;
  width: 400px;
  padding: 15px;
  margin: auto;
  border: 10px;
  text-align: center;
  font-size: larger;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.confirmation {
  font-size: 30px;

}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
